<div class="profile-container">
  <h2>Usuario {{user.first_name}}</h2>
  <h3>Datos del perfil:</h3>
  <p>Nombre: <strong>{{user.first_name}}</strong></p>
  <p>Apellido: <strong>{{user.last_name}}</strong></p>
  <p>Edad: <strong>{{user.age}}</strong></p>
  <p>e-mail: <strong>{{user.email}}</strong></p>
  <button><a href="/logout">cerrar sesión</a></button>
</div>